* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#titulo {
  color: rgb(37, 124, 255);
  margin-left: 7%;
  margin-bottom: 1em;
}

#subtitulo {
  color: rgb(37, 124, 255);
  margin-left: 10%;
}

#check {
  display:inline-block;
}

fieldset {
  border:0;
}

body {
  background-color: #F0F8FF;
  font-size: 1em;
  color: rgb(157, 72, 253);
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;
}

input, select, textarea, button {
  border-radius: 5px;
}

.campo {
  margin-bottom: 2em;
}

.campo label {
  margin-bottom: 0.2em;
  color: rgb(157, 72, 253);
  display: block;
}

fieldset.grupo .campo {
  float: left;
  margin-right: 1em;
}

.campo input[typo="text"], .campo imput[type="email"], .campo select, .campo textarea {
  padding:0.2;
  border: 1px solid rgb(157, 72, 253);
  box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
  background: #E0E0F8;
}

.botao {
  font-size: 1.2em;
  background: rgb(37, 124, 255);
  border: 0;
  color: #FFF;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
  position: absolute;
  top: 90%;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.botao:hover {
  background: rgb(12, 81, 185);
  box-shadow: inset 2px 2px 2px rgb(0,0,0,0.2);
  text-shadow: none;
  cursor: pointer;
}

.titulo-tecnologia {
  display:block;
 margin-bottom: 1em;
}